<body>
    <h1 style="padding: 5px" class="welcome">Welcome, {{userResults.first_name}}! </h1>
    <h2>Please Complete Your Profile Below</h2>
    <div class="dashboardCard">
      <h3>Personal Info</h3>
        <div class="personalInfo">
            <p>Name: {{userResults.first_name}} {{userResults.last_name}}
            <p>Username: {{userResults.username}}</p>
            <p>Email: {{userResults.email}}</p>
            {{!-- Content for name, age, and username goes here --}}
        </div>
        <div class="personalInfo">
            <p>Age: {{ userResults.age }} Years Old {{userResults.sex}}</p>
            <p>Weight: {{ userResults.weight }} Pounds</p>
            <p>Height: {{ userResults.height }} Inches</p>
        </div>
        <div class="personalInfo">
            <p> Goal: {{ userResults.goal }} Pounds </p>
            <p>Activity Level: {{userResults.activity_level}}</p><br>
             <p style="color: #245624;">You need <span id="bmr-value">{{ bmr }}</span> calories, based on provided inforamtion, and have currently consumed <span id="calorie-count">{{ userResults.calorie_count}}</span> calories</p>
             <div class="caloriechart">
        
        <canvas id="chartJs"></canvas>
            {{!-- all of the chart information will go here  --}}
        </div>
        </div>
        </div>
        
        <div class="dashboardBtn">
        <button class="btn dashboardBtn"><a style="text-decoration: none; color: white;" href="/update-dashboard">Edit Profile</a></button>
    </div>
</body>

{{!-- <script src="./js/dashboard.js"></script> --}}
<script type="module" src="./js/dashboard.js"></script>

