<body>
    
    <div class="dashboardCard">
        <h1 style="padding: 5px" class="welcome">Welcome {{userResults.first_name}}! </h1>
      <h3>Personal info:</h3>
        <div class="personalInfo">
            <p>Name: {{userResults.first_name}} {{userResults.last_name}}
            <p>Username: {{userResults.username}}</p>
            <p>Email: {{userResults.email}}</p>
            {{!-- Content for name, age, and username goes here --}}
        </div>
        <div class="personalInfo">
            <p>Age: {{ userResults.age }} Years Old {{userResults.sex}}</p>
            <p>Weight: {{ userResults.weight }} Pounds</p>
            <p>Height: {{ userResults.height }} Inches</p>
        </div>
        <div class="personalInfo">
            <p> Goal: {{ userResults.goal }} Pounds </p>
            <p>Activity Level: {{userResults.activity_level}}</p><br>
             <p style="color: #245624;">You need <span id="bmr-value">{{ bmr }}</span> calories, based on provided inforamtion, and have currently consumed <span id="calorie-count">{{ userResults.calorie_count}}</span> calories</p>
             <div class="caloriechart">
        
        <canvas id="chartJs"></canvas>
            {{!-- all of the chart information will go here  --}}
        </div>
        </div>
        </div>
        
        <div class="dashboardBtn">
        <button class="btn dashboardBtn"><a style="text-decoration: none; color: white;" href="/update-dashboard">Edit Profile</a></button>
    </div>
    <footer id="contact">
        <p style="font-size: 1rem;" class="closing"><i class="fa fa-thin fa-copyright"></i>Break My Intake</p>
    <div class="icons">
      <a href=""><i class="fa-brands fa-linkedin fa-2x"></i></a>
      <a href=""><i class="fa-solid fa-envelope fa-2x"></i></a>
      <a href="https://github.com/Hflora2010/Break-My-Intake"><i class="fa-brands fa-github fa-2x"></i></a>
    </div>
  </footer> 
</body>

{{!-- <script src="./js/dashboard.js"></script> --}}
<script type="module" src="./js/dashboard.js"></script>

