
<h1 class="selectMeal">Select Your Meal</h1>
<div>
    <h2 class="meals">Breakfast</h2>
    <div class="dropdown">
        <input style="font-size: 0.7rem; color: #245624;" type="text" id="droptxt" class="list dropText" readonly value="Click here for breakfast">
        <div id="content" class="content">
            {{#each foodResults as |foodResults| }}
            <div class="list food-container">
                <input type="checkbox" id="{{foodResults.food_name}}" class="list" value="{{foodResults.calories}}" />
                <label for="foodlist" class="list"> {{foodResults.food_name}} / {{foodResults.calories }} cal, {{foodResults.serving_size }} serv</label>
                <input type="hidden" class="list quantity" min="1" value="1" />
            </div>
            {{/each}}
        </div>
    </div>

    <h2 class="meals">Lunch</h2>
    <div class="dropdown">
        <input style="font-size: 0.7rem; color: #245624;" type="text" id="droptxt2" class="list dropText" readonly value="Click here for lunch">
        <div id="content2" class="content">
            {{#each foodResults as |foodResults| }}
            <div class="list food-container">
                <input type="checkbox" id="{{foodResults.food_name}}" class="list" value="{{foodResults.calories}}" />
                <label for="foodlist" class="list"> {{foodResults.food_name}} / {{foodResults.calories }} cal,
                    {{foodResults.serving_size }} serv</label>
                <input type="hidden" class="list quantity" min="1" value="1" />
            </div>
            {{/each}}
        </div>
    </div>

    <h2 class="meals">Dinner</h2>
    <div class="dropdown">
        <input style="font-size: 0.7rem; color: #245624;" type="text" id="droptxt3" class="list dropText" readonly value="Click here for dinner">
        <div id="content3" class="content">
            {{#each foodResults as |foodResults| }}
            <div class="list food-container">
                <input type="checkbox" id="{{foodResults.food_name}}" class="list" value="{{foodResults.calories}}" />
                <label for="foodlist" class="list"> {{foodResults.food_name}} / {{foodResults.calories }} cal,
                    {{foodResults.serving_size }} serv</label>
                <input type="hidden" class="list quantity" min="1" value="1" />
            </div>
            {{/each}}
        </div>
    </div>

    <h2 class="meals">Misc</h2>
    <div class="dropdown">
        <input style="font-size: 0.7rem; color: #245624;" type="text" id="droptxt4" class="list dropText" readonly value="Click here for misc">
        <div id="content4" class="content">
            {{#each foodResults as |foodResults| }}
            <div class="list">
                <input type="checkbox" id="{{foodResults.food_name}}" class="list" value="{{foodResults.calories}}" />
                <label for="foodlist" class="list"> {{foodResults.food_name}} / {{foodResults.calories }} cal, 
                    {{foodResults.serving_size }} serv</label>
                <input type="hidden" class="list quantity" min="1" value="1" />
            </div>
            {{/each}}
        </div>
    </div>
</div>

<button style="margin-top: 60px; " class="btn"><a style="text-decoration: none; color: white;" href="/dashboard">Return to Dashboard</a></button>

<script src="./js/foodlist.js"></script>