    
    <h1>Let Us Know a Little Bit More, {{userResults.first_name}}! </h1>
    <h2>Please Complete Your Profile Below</h2>
    <div class="card">
      <h3>Personal Info</h3>
      <form id="update-form" method="POST" action="/update-dashboard">
        <div class="personalInfo">
            <div>
            <label for="first_name">First Name</label>
            <input id='first_name' type="text" name="first_name" value="{{userResults.first_name}}">
            </div>
            <div>
                <label for="last_name">Last Name</label>
                <input id="last_name" type="text" name="last_name" value="{{userResults.last_name}}">
            </div>
            <div>
                <label for"email"> Email</label>
                <input id="email" type="text" name="email" value="{{userResults.email}}">
            </div>
            <div>
                <p>Username {{userResults.username}}</p>
            </div>
        </div>

        <div class="personalInfo">
            <div>
                <label for="age">Age</label>
                <input id="age" type="number" name="age" value="{{userResults.age}}" Years Old>
            </div>
            <div>
                <label for="weight">Weight</label>
                <input id="weight" type="number" name="weight" value="{{userResults.weight}}" Pounds>
            </div> 
            <div>
                <label for="height">Height</label>
                <input id="height" type="number" name="height" value="{{userResults.height}}" Inches>
            </div>
        </div>

        <div class="personalInfo">
            <div>
                <label for="goal">Your Target Goal</label>
                <input id="goal" type="number" name="goal" value="{{userResults.goal}}" Pounds>
        </div>
        <div class="form-group">
            <label for="activity_level">Activity Level:</label>
            <select class="form-control" id="activity_level" name="activity_level">
                <option value="sedentary">Sedentary</option>
                <option value="lightlyActive">Lightly Active</option>
                <option value="moderatelyActive">Moderately Active</option>
                <option value="veryActive">Very Active</option>
                <option value="extraActive">Extra Active</option>
            </select>
        </div>
    </div>
   
        <div class="caloriechart">
            {{!-- all of the chart information will go here  --}}
        </div>

        <div>
        <a href="/dashboard" class="btn">Save Changes</a>
        </div>
        
        </form>
    </div>
    <script src="./js/update-dashboard.js"></script>