<body>
    <h1 class="knowMore">Let Us Know a Little Bit More, {{userResults.first_name}}! </h1>
    <h2 class="completeProfile">Please Complete Your Profile Below</h2>
    <div class="updateCard">
      <h4 class="pInfo">Personal Info</h4>
      <form method="POST" action="/update-dashboard">
        <div style="margin: 10px;" class="personalInfo">
            <p style="margin-bottom: 10px;">Username:  {{userResults.username}}</p>
            <label for="first_name">First Name</label>
            <input id='first_name' type="text" name="first_name" value="{{userResults.first_name}}"><br>

            <label for="last_name">Last Name</label>
            <input id="last_name" type="text" name="last_name" value="{{userResults.last_name}}"><br>
            
            <label for"email"> Email</label>
            <input id="email" type="text" name="email" value="{{userResult.email}}"><br>
            
            <label for="age">Age</label>
            <input id="age" type="number" name="age" value="{{userResults.age}}" Years Old><br>
            
            <label for="weight">Weight</label>
            <input id="weight" type="number" name="weight" value="{{userResults.weight}}" Pounds><br>
            
            <label for="height">Height</label>
            <input id="height" type="number" name="height" value="{{userResults.height}}" Inches><br>
            
            <label for="goal">Your Target Goal</label>
            <input id="goal" type="number" name="goal" value="{{userResults.goal}}" Pounds><br>

          <div class="form-group">
            <label for="activity_level">Activity Level:</label>
            <select class="form-control" id="activity_level" name="activity_level">
                <option value="sedentary">Sedentary</option>
                <option value="lightlyActive">Lightly Active</option>
                <option value="moderatelyActive">Moderately Active</option>
                <option value="veryActive">Very Active</option>
                <option value="extraActive">Extra Active</option>
            </select>
        </div>
        </div>
        </form>

        {{!-- <form method="POST" action="/update-dashboard">
        <div class="personalInfo">
            
        </div>
        </form>

        <form method="POST" action="/update-dashboard">
        <div class="personalInfo">
            <div>
               
            </div>
       
        </div>
        </form> --}}
   
        <div class="caloriechart">
            {{!-- all of the chart information will go here  --}}
        </div>
        
        <div>
        <button class="btn"><a style="text-decoration: none; color: white;" href="/dashboard">Save Changes</a></button>
    </div>
</body>